body {
	--normal:#ED9B6E; /* Normal */
	--light:#EFA57C; /* Light */
	--dark:#E19368; /* Dark */
	--subscrible:#F0D6C7 url(../img/form.png) no-repeat center right; /* Subscrible */
	--letter:url(../img/letter-beautyclub.png) no-repeat 0 0 / contain; /* Letter */
	--titlefont:'Alice', serif; /* Title font */
	--logocat:27px; /* Logocat font */
	--blockquotebg:#FEF5EF;  /* Blockquote background */
	--blockquotecolor:#414E5C; /* Blockquote text color */
}