body {
	--normal:#4DAB8F; /* Normal */
	--light:#5EB39A; /* Light */
	--dark:#49A288; /* Dark */
	--subscrible:#4DAB8F; /* Subscrible */
	--letter:url(../img/letter-healthclub.png) no-repeat 0 0; /* Letter */
	--titlefont:'Inter', sans-serif; /* Title font */
	--logocat:23px; /* Logocat font */
	--blockquotebg:#E1F3EA;  /* Blockquote background */
	--blockquotecolor:#414E5C; /* Blockquote text color */
}