/*font-family: 'Alice', serif;*/
*{outline:none !important}
html, body{height:100%}
body{font-family: 'Inter', sans-serif}
a, input, button, select, textarea, a *{transition:all 0.2s linear 0s}
.wrapper{overflow:hidden; min-height:100%; display:flex; flex-direction:column}
.wrapper__content{flex:1 1 auto;padding-bottom: 92px;}
.widget-block{padding-top: 25px;padding-bottom:30px;}
.widget-title{padding-bottom: 18px;}
.widget-title__text{font-size: 18px;line-height: 24px;color: #223F3F;}
.widget-title__text path{fill:var(--normal)}
.widget-title__link{font-weight: 600; font-size: 14px; line-height: 24px; color: var(--normal); text-decoration:underline}
.widget-title__link:hover{color:var(--light); text-decoration:none}
.widget-title__link:focus, .widget-title__link:active{color:var(--dark); text-decoration:none}
.breadcrumbs{padding:40px 0}
.breadcrumbs__link{padding:0; margin:0}
.breadcrumbs__link li{font-weight: 600; font-size: 14px; line-height: 14px; padding:0; margin:0; list-style:none}
.breadcrumbs__link li::after{content:"/";color:#E5E5E5;margin: 0px 39px;}
.breadcrumbs__link li:last-child::after{display:none}
.breadcrumbs__link li a{color: #787878;}
.breadcrumbs__link li a:hover{color: #666666; text-decoration:none}
.breadcrumbs__link li a:active, .breadcrumbs__link li a:focus{color: #939393; text-decoration:none}
.breadcrumbs__link li span{color: #152929;white-space: nowrap;text-overflow: ellipsis;width: 205px;display: block;overflow: hidden;}
article{color: #414E5C;font-size: 20px;line-height:34px;}
article p, article ul, article ol{margin:20px 0; color:#414E5C}
article ul, article ol{padding:0 0 0 30px}
blockquote{background:var(--blockquotebg); color:var(--blockquotecolor); margin:70px 0;border-radius: 10px;padding: 30px 43px 40px 43px;font-family:var(--titlefont);font-style: normal;font-weight: 500;font-size: 18px;line-height:31px;letter-spacing: 0.0429em;}
h1, .h1, h2, .h2{font-weight:400; font-family:var(--titlefont); font-size: 36px; line-height: 42px; color: #414E5C; margin: 70px 0px 20px}
@media(max-width:1359px){
	.breadcrumbs{padding:30px 0}
	.breadcrumbs__link li{font-size: 14px; line-height: 14px}
	.breadcrumbs__link li::after{margin: 0px 30px;}
	.wrapper__content{padding-bottom:100px}
	.widget-block{padding-top:25px; padding-bottom:25px}
	.widget-title{padding-bottom:25px}
	.widget-title__text{font-size: 16px;line-height: 22px}
	article{font-size: 18px;line-height:28px;}
	article p, article ul, article ol{margin:15px 0}
	article ul, article ol{padding:0 0 0 25px}
	blockquote{margin:60px 0; padding: 25px 35px 30px 35px; font-size: 16px; line-height:24px; letter-spacing: 0.022em;}
	h1, .h1, h2, .h2{font-size: 32px; line-height: 38px; margin: 60px 0px 15px}
}
@media(max-width:991px){
	.breadcrumbs{padding:20px 0}
	.breadcrumbs__link li{font-size: 13px; line-height: 13px}
	.breadcrumbs__link li span{max-width:190px}
	.breadcrumbs__link li::after{margin: 0px 15px;}
	.wrapper__content{padding-bottom:80px}
	article{font-size: 16px;line-height:24px;}
	blockquote{margin:50px 0}
	h1, .h1, h2, .h2{font-size: 28px; line-height: 32px; margin: 50px 0px 15px}
}
@media(max-width:767px){
	.breadcrumbs{padding:15px 0}
	.breadcrumbs__link li{font-size: 12px; line-height: 12px}
	.breadcrumbs__link li span{max-width:175px}
	.breadcrumbs__link li::after{margin: 0px 10px;}
	.widget-block{padding-top:20px; padding-bottom:20px}
	.widget-title{padding-bottom:20px}
	article{font-size: 14px;line-height:20px;}
	blockquote{margin:40px 0; font-size: 14px; line-height:22px}
	h1, .h1, h2, .h2{font-size: 22px; line-height: 28px; margin: 40px 0px 15px}
}
@media(max-width:575px){
	.breadcrumbs{display:none}
	.widget-block{padding-top:20px; padding-bottom:20px}
	.widget-title{padding-bottom:20px}
	blockquote{margin:30px 0}
	article p, article ul, article ol{margin:10px 0}
	article ul, article ol{padding:0 0 0 20px}
	blockquote{margin:30px 0; padding: 15px 20px}
	h1, .h1, h2, .h2{font-size: 20px; line-height: 26px; margin: 30px 0px 10px}
}
@media(max-width:350px){
	blockquote{margin:20px 0}
	article{font-size: 13px}
	blockquote{margin:20px 0; padding: 10px 15px}
	h1, .h1, h2, .h2{font-size: 18px; line-height: 22px; margin: 20px 0px 10px}
}
/*************/
/*** Шапка ***/
/*************/
/*** Верхняя часть ***/
.header__navigation{background:#F9F1F1}
.navigation__row{height: 48px;position:relative;}
.cityset{font-size:14px;position:relative}
.cityset__link, .autorization a{color:#414E5C; font-weight:600}
.autorization svg{margin:0 7px}
.cityset__link:hover, .autorization a:hover{color:#37424e; text-decoration:none;}
.cityset__link:hover path, .autorization a:hover path{fill:#37424e}
.cityset__link:focus, .cityset__link:active, .autorization a:active, .autorization a:focus{color:#67717d; text-decoration:none}
.cityset__link:focus path, .cityset__link:active path, .autorization a:active path, .autorization a:focus path{fill:#67717d}
.cityset__list{transition:all 0.2s linear 0s; opacity:0; visibility:hidden; position:absolute;background: #FFFFFF;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);border-radius: 6px;padding: 10px 15px;margin:0;min-width: 150px;transform: translateY(5px);}
.cityset__list li{padding:0; margin:0; list-style:none}
.cityset__list li a{color:#414E5C;display:block;line-height: 26px;text-align: center;}
nav.menu a:first-child{padding:0}
nav.menu a, .autorization{line-height: 22px;font-size: 14px;letter-spacing: -0.022em;color: #787878;display:block;padding: 0 0 0 20px;}
nav.menu a:hover{color:#666666; text-decoration: none;}
nav.menu a:focus, nav.menu a:active{color:#939393; text-decoration: none}
.autorization a{color:#414E5C}
.autorization a{font-weight:500}
.navigation__mob-btn{padding-left:20px}
.navigation__mob-btn a{transition:all 0.2s linear 0s; display:block; position:relative}
.navigation__mob-btn span{background: #414E5C; display: block; width: 20px; height: 2px; margin: 5px 0; position:relative}
.navigation__mob-btn a.openmenu span:nth-child(1){transform: rotate(45deg);top: 7px}
.navigation__mob-btn a.openmenu span:nth-child(2){opacity:0}
.navigation__mob-btn a.openmenu span:nth-child(3){transform: rotate(-45deg);top: -7px}
@media(min-width:1360px){
	.cityset{padding: 0 0 0 10px;}
}
@media(max-width:1359px){
	.cityset, nav.menu a, .autorization{font-size:13px}
	nav.menu a, .autorization{padding-left:15px}
	.autorization svg{margin:0 0 0 7px}
}
@media(max-width:991px){
	nav.menu{transition:all 0.2s linear 0s; background:#FFFFFF; box-shadow: 0px 10px 10px 4px rgb(48 57 67 / 8%); position:absolute; top:100%; transform:translateY(7px); border-radius:8px; padding: 5px 20px 15px; right:0; z-index:2; opacity:0; visibility:hidden}
	.cityset, nav.menu a, .autorization{font-size:14px}
	nav.menu a, .autorization{padding-left:20px}
	nav.menu a{padding:5px 0}
}
/*** Контакты Шапка ***/
.header{box-shadow: 0px 1px 0px #E5E5E5;}
.header__row{height:85px;padding: 0 0 0 0;}
.pharm__link{font-weight: 600;font-size: 14px;color: #414E5C;height: 32px;background: #F9F1F1;border-radius: 6px;width: 145px;}
.pharm__link:hover{color:#37424e; text-decoration:none}
.pharm__link:hover path{fill:#6da779}
.pharm__link:focus, .pharm__link:active{color:#67717d; text-decoration:none}
.pharm__link:focus path, .pharm__link:active path{fill:#6da779}
.header__phone{padding-left: 30px;}
.phone__free-number{width: 74px;border:1px solid #79B986;border-radius:20px;font-weight: 700;font-size: 15px;line-height: 28px;letter-spacing: -0.022em;color: #414E5C;height: 30px;}
.phone__free-title{font-weight: 600;font-size: 12px;line-height:14px;text-align: right;color: #787878;}
.phone__free-number span{width:100%}
.phone__free-number svg{min-width:30px; width:30px}
.phone__free:hover a{text-decoration:none}
.phone__free:hover .phone__free-title{color:#414E5C}
.phone__free:hover .phone__free-number{background:#79B986; color:#fff}
.phone__general{padding-left: 24px;font-size: 10px;line-height:15px;color: #787878;}
.phone__general-num{white-space:nowrap;display:block;font-weight: 600;font-size: 16px;line-height:24px;color: #414E5C;}
.phone__general-num:hover{color:#79B986; text-decoration:none}
.phone__general-num:focus, .phone__general-num:active{color:#86c092; text-decoration:none}
@media(max-width:575px){
	.header__row{height:75px}
	.header__phone{padding:0}
	.phone__free-number{width:78px; font-size:16px; line-height:26px; height:28px}
	.phone__free-number svg{min-width:26px; width:26px}
}
/*** Шапка категории ***/
.header__catalog-row{height: 90px;}
.header__catalog-logo{padding-right: 16px; display:block}
.header__catalog-losung{font-size:14px; line-height:16px; font-family:var(--titlefont); letter-spacing: -0.022em; color: #656565;}
.catchange{position:relative}
.catchange svg{margin:3px 7px 0 11px}
.catchange__set{font-weight: 500;font-size: 14px;line-height:21px; color: #414E5C;}
.catchange__set:hover{color: #67717d; text-decoration: none;}
.catchange__set:hover path{fill: #67717d}
.catchange__set.catchange-open svg{transform: rotate(180deg);}
.catchange__list{z-index:1; transition:all 0.2s linear 0s; opacity:0; visibility:hidden; position:absolute;font-size: 10px;line-height:12px;text-align: center;letter-spacing: -0.022em;margin:0;width:200px;padding:15px;background: #FFFFFF;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);border-radius: 6px;left: 50%;transform: translateY(15px) translateX(-50%);}
.catchange__list li{padding:0; margin:0; list-style:none}
.catchange__list a{color: #787878;}
.catchange__list li:first-child{padding-bottom:20px}
.catchange__link span{width:100%; height:65px; margin-bottom:5px; border-radius:5px; display:block}
.catchange__link.beautyclub span{background:#ED9B6E}
.catchange__link.healthclub span{background:#0FD1AE}
.catchange__link.youngmothers span{background:#E0C98C}
.catchange__link:hover{text-decoration:none}
.catchange__link:hover span{background:#79B986}
.catchange__link.beautyclub:hover span{background: #efa57c}
.catchange__link.beautyclub:focus span, .catchange__link.beautyclub:active span{background: #e19368}
.catchange__link.healthclub:hover span{background: #5EB39A}
.catchange__link.healthclub:focus span, .catchange__link.healthclub:active span{background: #49A288}
.catchange__link.youngmothers:hover span{background:#E3CE97}
.catchange__link.youngmothers:focus span, .catchange__link.youngmothers:active span{background:#D5BF85}
.catchange__link:focus img, .catchange__link:active img{opacity:0.5}
.openheaderlist{opacity:1 !important; visibility:visible !important; z-index:2}
@media(max-width:1359px){
	.catchange svg{margin:3px 0 0 11px}
}
@media(max-width:575px){
	.header__catalog-row{height:55px}
	.header__catalog-logo img{max-width:180px; max-height:var(--logocat)}
	.catchange{margin-top:3px}
	.catchange__list{width: 170px;padding: 10px; left:auto; right:0; transform: translateY(10px)}
	.catchange__link span{height:45px}
	.catchange__list li:first-child{padding-bottom: 10px}
	.catchange__list{font-size:8px; line-height:10px}
	.catchange__set{font-size:13px}
}
/***************/
/*** Контент ***/
/***************/
/*** Меню ***/
.nav__catalog{position: relative;padding: 5px 0px 5px 5px;background: var(--normal);border-radius: 6px;}
.nav__catalog ul{padding: 0;margin:0;}
.nav__catalog ul li{padding: 0 1px 0 0;margin:0;list-style:none;white-space: nowrap;}
.nav__catalog ul li a{border-radius: 4px;display:block;padding: 0 16px;font-weight: 600;font-size: 14px;line-height: 34px;color: #FFFFFF;}
.nav__catalog ul li a:hover{text-decoration:none; background: rgba(0, 0, 0, 0.05)}
.nav__catalog ul li a:focus, .nav__catalog ul li a:active, .nav__catalog ul > li.active > a{text-decoration:none; background: rgba(0, 0, 0, 0.15)}
ul.more-dropdown{background: #FFFFFF;box-shadow: 0px 10px 10px 4px rgba(48, 57, 67, 0.08);border-radius: 8px;right: 0;top: 100%;transform: translateY(7px);z-index: 2;padding: 5px 20px 15px}
.nav__catalog ul li ul.more-dropdown li{padding:0}
.nav__catalog ul li ul.more-dropdown li a{border-radius:0px;padding: 0;color: #414E5C;line-height: 32px;}
.catalog-menu__burger{display: block;}
.catalog-menu__burger span{background: #fff;display: block;width: 15px;height: 2px;margin: 3px 0;position:relative;}
.nav__catalog li.flexMenu-viewMore{margin-left:auto;padding: 0;}
.nav__catalog li.flexMenu-viewMore > a{display: flex;line-height: 0;background: rgba(255,255,255,0.10) !important;height: 44px;align-items: center;justify-content: center;margin: -5px 0;}
.nav__catalog li.flexMenu-viewMore > a:hover, .nav__catalog li.active.flexMenu-viewMore a{background: rgba(255,255,255,0.15) !important;}
.nav__catalog li.active.flexMenu-viewMore .catalog-menu__burger span:nth-child(1){transform: rotate(45deg);top: 5px;}
.nav__catalog li.active.flexMenu-viewMore .catalog-menu__burger span:nth-child(2){opacity:0}
.nav__catalog li.active.flexMenu-viewMore .catalog-menu__burger span:nth-child(3){transform: rotate(-45deg);top: -5px;}
@media(min-width:576px){
	.nav__catalog ul li{position: relative}
}
@media(max-width:575px){
	/*.more-dropdown{left:0}
	.nav__catalog li.flexMenu-viewMore > a{font-size: 15px;line-height: 36px;}*/
	.nav__catalog{padding:8px 15px; margin:0 -15px; border-radius:0px; overflow-x: scroll; overflow: auto;-ms-overflow-style: none;scrollbar-width: none}
	.nav__catalog::-webkit-scrollbar {width: 0; height: 0;}
	.nav__catalog ul{margin:0 -4px}
	.nav__catalog ul li{padding:0 4px}
	.nav__catalog ul li a{font-size: 14px;line-height: 29px; padding:0 8px; border-radius: 8px;}
}
/*** Лучшее за неделю ***/
.articles__row{margin-left: -45px;margin-right: -45px;}
.articles__row-in{padding-left: 45px;padding-right: 45px;}
.articles__best{width:894px}
.articles__popular{width:calc(100% - 894px);}
.best__article-in{display:block; border-radius:10px; overflow:hidden; position:relative}
.best__article-in img{height:100%; width:100%; object-fit:cover}
.best__article-row{padding-top:16px; margin:0 -8px}
.best__article-row .best__article{padding:0 8px}
.best__article-title{max-width:450px; font-size:36px; line-height:43px; font-family:var(--titlefont); color: #223F3F; top:30px; left:30px; position:absolute}
.article-mark{padding: 0 11px; background: var(--normal); border-radius: 4px; font-size: 14px; color: #FFFFFF; line-height:28px}
.article-mark:hover{background:var(--light); color:#fff; text-decoration:none}
.article-mark:active, .article-mark:focus{background:var(--dark); color:rgba(255,255,255,0.5); text-decoration:none}
.articles__best .article-mark{position:absolute;bottom: 21px;left: 20px;}
.best__article-row .best__article .best__article-title{font-size: 20px; line-height:24px; top:20px; left:20px;  max-width:200px}
.title-big-text{max-width:290px !important}
.best__article-row .best__article .article-mark{position:absolute; left:20px; bottom:20px}
.white-title{color:#fff !important}
.black-mark{background:#223f3f}
.black-mark:hover{background:#385252}
.black-mark:active, .black-mark:focus{background:#152929}
.best__article-in:hover a{opacity:0.7}
.best__article-in:focus a, .best__article-in:active a{opacity:0.5}
/*.articles__best .widget-body{display: grid;grid-template: 1fr 1fr / 1fr 1fr;gap: 0px;margin: -8px;height: 552px;}
.best__article{padding:8px}
.best__article:nth-child(1){grid-row: 1 / 2;grid-column: 1 / 3;max-height: 377px;}
.best__article:nth-child(2){grid-row: 2 / 3;grid-column: 1 / 2;height: 176px;}
.best__article:nth-child(3){grid-row: 2 / 3;grid-column: 2 / 3;height: 176px;}*/
@media(max-width:1359px){
	.articles__row{margin-left:-15px; margin-right:-15px}
	.articles__row-in{padding-left:15px; padding-right:15px}
	.articles__best{width:640px}
	.articles__popular{width:calc(100% - 640px)}
	.best__article-in img {height: 320px}
	.best__article-title{font-size:32px; line-height:38px;}
	.best__article-row .best__article-in img {height: 160px}
}
@media(max-width:991px){
	.articles__row{margin-left:-15px; margin-right:-15px}
	.articles__row-in{padding-left:15px; padding-right:15px}
	.articles__best, .articles__popular{width:100%}
	.best__article-title{font-size:28px; line-height:32px;}
	.best__article-title{left:20px; top:20px}
	.articles__best .article-mark{bottom: 20px; left: 20px;}
}
@media(max-width:767px){
	.best__article-in img, .best__article-row .best__article-in img{height: 220px}
	.best__article-row{padding-top:0}
	.best__article, .best__article-row .best__article{padding-bottom:15px}
	.best__article-row .best__article:last-child{padding-bottom:0}
	.best__article-row .best__article .best__article-title, .best__article-title{max-width:250px; font-size: 22px; line-height: 28px;}
	.best__article-row .best__article .best__article-title{max-width:190px}
}
@media(max-width:575px){
	.best__article-in img, .best__article-row .best__article-in img{height: 42.67vw}
	.best__article-row .best__article .best__article-title, .best__article-title{font-size: 20px; line-height: 26px;}
	.best__article-title, .best__article-row .best__article .best__article-title{left:15px; top:15px}
	.best__article-row .best__article .article-mark, .articles__best .article-mark{bottom: 15px; left: 15px;}
	.article-mark{font-size:12px; line-height:23px; padding:0 8px}
}
@media(max-width:350px){
	.best__article-row .best__article .best__article-title, .best__article-title{font-size: 18px; line-height: 22px;}
}
/*** Популярные статьи клуба ***/
.articles__popular .widget-body{position:relative}
.popular__article{padding-bottom: 30px;padding-top: 7px}
.popular__article:last-child{padding-bottom:0}
.popular__article-title{display:block;font-size:24px;line-height:29px;font-family:var(--titlefont);color: #414E5C;padding: 17px 0 8px;letter-spacing: -0.045em;}
.popular__article-title:hover{text-decoration:none; color:#37424e}
.popular__article-title:focus, .popular__article-title:active{text-decoration:none; color:#67717d}
.popular__article-description{font-size: 14px; line-height:20px; letter-spacing: -0.014em; color: #787878;}
@media(min-width:992px){
	.popular__article{padding-left: 8px}
	.articles__popular  .widget-body::before{left:-15px; content:""; width:1px; position:absolute; top:0; bottom:0;  background:#E5E5E5}
}
@media(min-width:1360px){
	.articles__popular  .widget-title .widget-title__text{transform:translateX(-45px)}
	.articles__popular  .widget-body::before{left:-45px;}
}
@media(max-width:1359px){
	.popular__article {padding-bottom: 10px}
	.popular__article-title{font-size: 20px; line-height: 26px; padding: 10px 0;}
}
@media(max-width:575px){
	.popular__article {padding-bottom: 20px}
	.popular__article-title{padding: 15px 0 10px;}
	.popular__date{font-size: 14px;line-height: 17px;color: #ADADAD; padding:15px 0}
	.popular__article:last-child .popular__date{padding-bottom:0}
}
/*** Подписка ***/
.content__subscription{padding: 18px 0 16px;}
.subscription__form, .subscription__succsess{border-radius:10px; background:var(--subscrible); padding:55px 80px; overflow:hidden}
.subscription__form-letter{background:var(--letter);width: 284px;height: 170px;margin: -55px 0}
.subscription__form-title{font-size:22px;line-height:29px;font-family:var(--titlefont);color: #414E5C;padding-right: 58px;}
.subscription__form-field{position:relative; padding:0 0 0 15px; width:100%}
form > div.subscription__form-field > input[type=email]{width:100%;height: 58px;background: #FFFFFF;border: 1px solid #fff;border-radius: 6px;font-size: 16px;letter-spacing: -0.022em;color: #414E5C;padding: 0 16px;}
form > div.subscription__form-field > input[type=email]:hover{border-color: #E5E5E5;}
form > div.subscription__form-field > input[type=email]:focus{border-color: #7BA6E8;}
form > div.subscription__form-field > input[type=email] + label{position: absolute;left: 15px;right: 0;top: 100%;transform: translateY(-1px); opacity: 0}
form > div.subscription__form-field > input[type=email]:valid{border-color:#79B986}
form > div.subscription__form-field > input[type=email]:valid + label{opacity:0}
form > div.subscription__form-field > input[type=email]:invalid:not(:focus):not(:-moz-placeholder-shown){border-color:#F28187; background:#fff; border-radius:6px 6px 0 0}
form > div.subscription__form-field > input[type=email]:invalid:not(:focus):not(:-ms-input-placeholder){border-color:#F28187; background:#fff; border-radius:6px 6px 0 0}
form > div.subscription__form-field > input[type=email]:invalid:not(:focus):not(:placeholder-shown){border-color:#F28187; background:#fff; border-radius:6px 6px 0 0}
form > div.subscription__form-field > input[type=email]:invalid:not(:focus):not(:-moz-placeholder-shown) + label{opacity: 1;background: #F28187;color: #fff;border-radius: 0 0 6px 6px;padding: 0 0 0 8px;font-size: 12px;height: 28px;}
form > div.subscription__form-field > input[type=email]:invalid:not(:focus):not(:-ms-input-placeholder) + label{opacity: 1;background: #F28187;color: #fff;border-radius: 0 0 6px 6px;padding: 0 0 0 8px;font-size: 12px;height: 28px}
form > div.subscription__form-field > input[type=email]:invalid:not(:focus):not(:placeholder-shown) + label{opacity: 1;background: #F28187;color: #fff;border-radius: 0 0 6px 6px;padding: 0 0 0 8px;font-size: 12px;height: 28px}
.subscription__form-field button{width:100%;height: 58px;background: #223f3f;border-radius: 6px;font-size: 18px;font-weight:500;color: #FFFFFF;border:none;}
.subscription__form-field button:hover{background:#385252}
.subscription__form-field button:focus, .subscription__form-field button:active{background:#152929; color:rgba(255,255,255,0.5)}
form > div.subscription__form-field > input[type="email"][disabled], form > div.subscription__form-field > input[type="email"][disabled]:hover, form > div.subscription__form-field > input[type="email"][disabled]:focus{background: #d5d5d5;border-color: #d5d5d5;color: #C4C4C4;opacity: 0.5}
input:-webkit-autofill,input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active, input:-webkit-autofill:valid, input:-internal-autofill-selected, input:-internal-autofill-selected:active, input:-internal-autofill-selected:focus, input:-internal-autofill-selected:hover, input:-internal-autofill-selected:valid, input:-internal-autofill-selected:valid{background:#fff !important}
input::-webkit-input-placeholder{color:#787878; opacity:1}
input::-moz-placeholder{color:#787878; opacity:1}
input:-moz-placeholder{color:#787878; opacity:1}
input:-ms-input-placeholder{color:#787878; opacity:1}
@media(min-width:576px){
	.subscription__form-title{white-space:nowrap}
}
@media(max-width:1359px){
	.subscription__form, .subscription__succsess{padding:50px 40px}
	.subscription__form-title {font-size: 20px; line-height: 26px; padding-right:15px}
	form > div.subscription__form-field > input[type=email]{padding:0 20px}
	form > div.subscription__form-field > input[type=email], .subscription__form-field button{height:52px}
	.subscription__form-field button{font-size:16px}
	.subscription__form-letter{width: 259px; height: 155px;margin: -50px 0}
}
@media(max-width:991px){
	.subscription__form, .subscription__succsess{padding:40px 30px}
	.subscription__form .subscription__form-title{width:100%; text-align:center; padding-bottom:25px; padding-right:0}
	.subscription__form-field:nth-child(2){padding-left:0}
	.subscription__form-field{width:50%}
	form > div.subscription__form-field > input[type=email] + label{left: 0}
	form > div.subscription__form-field > input[type=email]{padding:0 15px}
	form > div.subscription__form-field > input[type=email], .subscription__form-field button{height:48px}
	.subscription__form-letter{width: 225px;height: 135px;margin: -40px 0;}
}
@media(max-width:767px){
	.subscription__form, .subscription__succsess{padding:30px 20px}
	.subscription__succsess .subscription__form-title{width:100%; text-align:center; padding-bottom:25px; padding-right:0}
	.subscription__form-letter {width: 250px;height: 150px;margin: -5px auto -30px}
}
@media(max-width:575px){
	.subscription__form, .subscription__succsess{padding:30px 15px; margin:0 -15px; border-radius:0px; background-size:190vw  auto}
	.subscription__form-field{width:100%}
	.subscription__form-field{padding-left:0}
	.subscription__form-field:nth-child(3){padding-top:15px}
	form > div.subscription__form-field > input[type=email], .subscription__form-field button{height:46px}
	.subscription__form-title br{display:none}
}
/*** Последние статьи ***/
.last-articles__list{width: 1057px;}
.last-articles__banners{width: calc(100% - 1057px);}
.last-articles__block{width:33.33%;padding: 18px 8px;}
.last-articles__block-in{transition:all 0.2s linear 0s}
.last-articles__block-in:hover{opacity:0.7}
.last-articles__block-in:focus, .last-articles__block-in:active{opacity:0.5}
.last-articles__block a{text-decoration:none !important}
.last-articles__cover{border-radius:6px;overflow:hidden;height: 224px;margin-bottom: 20px;}
.last-articles__cover img{width:100%; height:100%; object-fit:cover}
.last-articles__title{font-size:18px;line-height:22px;font-family:var(--titlefont);color: #223F3F !important;text-decoration:none !important;padding: 9px 0 8px;}
.last-articles__date{font-size: 14px;line-height:20px;letter-spacing: -0.014em;color: #787878;}
@media(max-width:1359px){
	.last-articles__list, .last-articles__banners{width:100%}
}
@media(max-width:991px){
	.last-articles__block {width: 50%}
}
@media(max-width:767px){
	.last-articles__row{margin:-10px -8px 0}
	.last-articles__block{padding:10px 8px}
	.last-articles__cover{height:180px}
	.last-articles__title{font-size:16px; line-height:20px; padding:10px 0}
	.last-articles__date{font-size:13px}
}
@media(max-width:575px){
	.last-articles__cover{height: 33vw}
}
@media(max-width:420px){
	.last-articles__row{margin:0 -8px}
	.last-articles__block {width: 100%; padding:15px 8px}
	.last-articles__cover{height: 66vw}
	.last-articles__title{font-size:20px; line-height:26px; padding:10px 0}
	.last-articles__date{font-size:14px}
}
/*** Баннеры ***/
.last-articles__banner{padding-bottom:20px}
.last-articles__list .widget-body{position:relative}
.last-articles__banners .widget-body{height:100%}
.last-articles__banner img{width:100%; object-fit:cover}
.last-articles__list .widget-body::after{content:""; width:1px; position:absolute; top:15px; bottom:0; right:-45px; background:#E5E5E5}
.last-articles__banner{transition:all 0.2s linear 0s}
.last-articles__banner:hover{opacity:0.7}
.last-articles__banner:focus, .last-articles__banner:active{opacity:0.5}
@media(max-width:1359px){
	.last-articles__banners a {max-height: 360px;overflow: hidden;border-radius: 10px;padding: 0;margin: 0 10px}
	.last-articles__list .widget-body::after{width: auto; top: auto; bottom: -25px; right: 0; height: 1px; left: 0}
	.last-articles__banners .d-flex{margin:0 -10px}
}
@media(max-width:991px){
	.last-articles__banners a {max-height: 320px;}
}
@media(max-width:767px){
	.last-articles__banners a {max-height: 240px;}
}
@media(max-width:575px){
	.last-articles__list .widget-body::after{display:none}
	.last-articles__banners{background:#FBF8F8}
	.last-articles__banners a {max-height: 43vw}
}
@media(max-width:420px){
	.last-articles__banners .d-flex{margin:0}
	.last-articles__banners a{max-height: none;margin: 0;padding: 0}
	.last-articles__banners a:nth-child(1){display:none !important}
}
/*** Футер ***/
footer{background:#F5F7FB; padding:35px 0}
.footer__menu{width: 900px;column-count: 3; column-gap: 82px;}
.footer__menu ul{padding:0; margin:0;}
.footer__menu ul li{padding:0; margin: 12px 0px;  list-style:none}
.footer__menu ul li a{display:block; font-size: 14px; line-height: 21px; color: #787878}
.footer__menu ul li a:hover{color:#666666; text-decoration: none;}
.footer__menu ul li a:focus, .footer__menu ul li a:active{color:#939393; text-decoration: none}
.footer__menu-title{display:block; font-weight: 600;font-size: 14px;line-height: 14px;color: #414E5C;margin: 0 0px 24px;}
div.footer__menu > a:nth-child(3){break-before: column;}
div.footer__menu > a:nth-child(7){margin-top:24px}
.footer__menu-title:hover{color:#37424e; text-decoration:none;}
.footer__menu-title:active, .footer__menu-title:focus{color:#67717d; text-decoration:none}
.footer__contact{width: calc(100% - 900px);}
.footer__contact .phone__free-title, .footer-whatsap{font-size: 12px; line-height:18px; font-weight:400; color:#787878 !important; text-decoration:none !important}
.footer-whatsap:hover svg{opacity:0.7}
.footer-whatsap:active svg, .footer-whatsap:focus svg{opacity:0.5}
.footer__contact .phone__free{padding-left:58px}
.footer__contact ul{padding:0; margin:0}
.footer__contact ul li{padding:0 15px 0 0; margin:0; list-style:none}
.footer__contact ul li a{display:block}
.footer__contact ul li a:hover{opacity:0.7}
.footer__contact ul li a:focus, .footer__contact ul li a:active{opacity:0.5}
.footer__copyright{font-size: 14px;line-height:21px;color: #787878; padding-top:70px}
@media(min-width:992px){
	div.footer__menu > a:nth-child(5){break-before: column;}
}
@media(max-width:1359px){
	footer{padding:30px 0}
	.footer__menu{width:575px; column-gap: 20px}
	.footer__contact{width:calc(100% - 575px)}
	.footer__menu ul li{margin:8px 0}
	.footer__menu ul li a, .footer__copyright{font-size:13px}
	.footer__copyright{padding-top:50px}
	.footer__contact .phone__free{padding-left:20px}
}
@media(max-width:991px){
	footer{padding:25px 0}
	.footer__menu{column-count: 2; width:350px}
	.footer__contact{width:calc(100% - 350px)}
	.footer__menu ul li{margin:12px 0}
	.footer__menu ul li a, .footer__copyright{font-size:12px; line-height: 15px;}
	.footer__copyright{padding-top:30px}
	div.footer__menu > a:nth-child(5){margin-top:24px}
}
@media(max-width:767px){
	.footer__menu{column-count: 2}
	.footer__contact, .footer__menu{width:100%}
	.footer__contact{border-top:1px solid #E0E2E6; margin-top:5px; padding-top:25px}
	.footer__social{border-top:1px solid #E0E2E6; margin-top:25px; padding-top:25px}
	.footer__copyright{padding-top:25px}
	div.footer__menu > a:nth-child(5), div.footer__menu > a:nth-child(7){margin-top:20px}
	.footer__menu-title{margin: 0 0px 20px;}
}
@media(max-width:575px){
	.footer__app svg{max-height:23px; width:100%}
	.footer__soc-seti svg{max-height:26px; width:100%}
	.footer-whatsap svg{height:32px; width:32px}
	.footer__soc-seti li:last-child{padding-right:0}
	.footer__app li{padding-right:8px !important}
}
@media(max-width:360px){
	.footer__menu-title{font-size:12px}
	.footer__menu ul li{margin: 10px 0}
	div.footer__menu > a:nth-child(5), div.footer__menu > a:nth-child(7){margin-top:15px}
	.footer__menu-title{margin: 0 0px 15px;}
	.footer__contact ul li{padding-right:10px}
	.footer__soc-seti li:last-child{padding-right:0}
}
@media(max-width:350px){
	.footer-whatsap span{display:none !important}
	.phone__free{padding-left:15px !important}
	.footer__social{display:block !important}
	.footer__app{padding:20px 0 0 !important}
	.footer__social .footer__menu-title{margin-bottom:10px}
	.footer__contact {margin-top: 0;padding-top: 15px}
	.footer__social{margin-top:15px; padding-top:15px}
	.footer__copyright{font-size:11px}
}
/**************/
/*** Статья ***/
/**************/
.article__banner{position:relative; overflow:hidden; border-radius:8px; margin-bottom:40px}
.article__banner img{width:100%; height:400px; object-fit:cover}
.article__banner-title{max-width:585px}
.article__banner-info{position:absolute; bottom:30px; left:30px}
.banner-info__date{padding-left:26px; font-weight: 500; font-size: 14px; line-height: 28px; letter-spacing: -0.022em; color: #223F3F}
.article__description{padding:0}
.article__description p{color:#787878;letter-spacing: -0.022em;}
.articles__row .last-articles__banners.four-banners .last-articles__banner{padding-bottom:25px}
@media(min-width:1360px){
	.last-articles__list article{position:relative}
	.last-articles__list article::after{position:absolute; right:-45px; top:0; bottom:0; content:""; width:1px; background:#E5E5E5}
	.articles__row .last-articles__banners.four-banners .last-articles__banner:nth-child(2){padding-bottom:100px}
}
@media(max-width:1359px){
	.article__banner{margin-bottom:30px}
	.article__banner img{height:385px}
	.article__banner-title{max-width:505px}
	.articles__row .last-articles__banners.four-banners .last-articles__banner{padding-bottom:0; max-height: 215px;}
}
@media(max-width:991px){
	.article__banner{margin-bottom:20px}
	.article__banner img{height: 290px;}
	.article__banner-title{max-width: 450px;}
	.article__banner-info{bottom:20px; left:20px}
	.banner-info__date{padding-left:20px}
	.articles__row .last-articles__banners.four-banners .last-articles__banner{max-height: 160px;}
}
@media(max-width:767px){
	.article__banner{margin-bottom:15px}
	.article__banner img{height: 220px;}
	.article__banner-title{max-width: 360px;}
	.banner-info__date{padding-left:15px}
	.articles__row .last-articles__banners.four-banners .last-articles__banner:nth-child(2) ~ .last-articles__banner{display:none !important}
	.articles__row .last-articles__banners.four-banners .last-articles__banner{max-height: 240px;}
}
@media(max-width:575px){
	.article__banner{margin: 0 -15px 15px;border-radius: 0px;}
	.article__banner img{height: 42vw;}
	.article__banner-title{max-width: 291px;}
	.article__banner-info{bottom:15px; left:15px}
	.banner-info__date{font-size: 12px; line-height: 24px; padding-left:15px}
	.articles__row .last-articles__banners.four-banners .last-articles__banner{max-height: 43vw;}
}
@media(max-width:420px){
	.articles__row .last-articles__banners.four-banners .last-articles__banner{max-height: none;}
}
/*** Поделиться ***/
.article-networks{padding: 55px 0 35px;}
.article-networks__social ul{padding:0; margin:0}
.article-networks__social ul li{padding:0 52px 0 0; margin:0; list-style:none}
.article-networks__share .ya-share2__badge.ya-share2__badge_more{display:none}
.article-networks__share .ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short{background:url(../img/share.svg) no-repeat center center / contain; width:36px; height:36px; padding:0}
@media(max-width:1359px){
	.article-networks{padding: 45px 0 30px;}
	.article-networks__social ul li{padding:0 40px 0 0}
	.article-networks__social ul li svg{width:32px; height:32px}
	.article-networks__share .ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short{width:32px; height:32px}
}
@media(max-width:991px){
	.article-networks{padding: 25px 0 20px;}
	.article-networks__social ul li{padding:0 30px 0 0}
	.article-networks__social ul li svg{width:30px; height:30px}
	.article-networks__share .ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short{width:30px; height:30px}
}
@media(max-width:767px){
	.article-networks{padding: 15px 0 20px;}
	.article-networks__social ul li{padding:0 20px 0 0}
	.article-networks__social ul li svg{width:28px; height:28px}
	.article-networks__share .ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short{width:28px; height:28px}
}
@media(max-width:575px){
	.article-networks{padding: 0 0 20px;}
	.article-networks__social ul li{padding:0 15px 0 0}
	.article-networks__social ul li svg{width:26px; height:26px}
	.article-networks__share .ya-share2__container_size_m .ya-share2__item_more.ya-share2__item_has-pretty-view .ya-share2__link_more.ya-share2__link_more-button-type_short{width:26px; height:26px}
}
/*********************/
/*** Нижний виджет ***/
/*********************/
.widget-bottom{padding:35px 0}
.widget-bottom__title{font-family:var(--titlefont);font-size: 24px;line-height: 36px;letter-spacing: -0.022em;color: #223F3F; padding-bottom:30px}
@media(max-width:1359px){
	.widget-bottom{padding:30px 0}
	.widget-bottom__title{font-size: 22px;line-height: 32px; padding-bottom:25px}
}
@media(max-width:991px){
	.widget-bottom{padding:25px 0}
	.widget-bottom__title{font-size: 20px;line-height: 28px; padding-bottom:20px}
}
@media(max-width:767px){
	.widget-bottom{padding:20px 0}
	.widget-bottom__title{padding-bottom:15px; text-align:center}
}
@media(max-width:575px){
	.widget-bottom{padding:15px 0}
}
/*** Рекомендуем ***/
.shop-items__row{margin:-18px -8px}
.shop-items__block{padding:18px 8px; width:25%}
.shop-items__block-in{background: #F9F1F1;border-radius: 20px;padding:4px;height: 100%;display: flex;flex-direction: column;justify-content: space-between;}
.shop-items__cover{overflow:hidden; border-radius:20px}
.shop-items__cover img{width:100%; object-fit:cover; height:209px}
.shop-items__title{font-weight: 500;font-size: 18px;line-height:25px;color: #223F3F;padding: 27px 20px 33px;margin-bottom: auto;}
.shop-items__title:hover{color:#385252; text-decoration:none}
.shop-items__title:active, .shop-items__title:focus{color:#152929; text-decoration:none}
.shop-items__bay{padding: 0 13px 12px 20px;}
.shop-items__price{font-weight: 500;font-size: 28px;line-height:34px;color: #223F3F;padding: 5px 0 0 0;}
.shop-items__bay a{border-radius:4px;display:block;padding: 0 21px;background:#79B986;font-size: 14px;line-height:40px;color: #FFFFFF;}
.shop-items__bay a:hover{background:#86C092; text-decoration:none}
.shop-items__bay a:active, .shop-items__bay a:focus {background:#6DA779; text-decoration:none}
.shop-items__bay a svg{margin-left: 11px;}
@media(min-width:992px){
	.shop-items__row .shop-items__block:last-child{display:none}
}
@media(min-width:1360px){
	.shop-items__row .shop-items__block:last-child{display:block}
}
@media(max-width:1359px){
	.shop-items__block{width:33.33%}
	.shop-items__cover img{height: 202px;}
	.shop-items__title{font-size: 17px;line-height: 23px;padding: 22px 15px 28px;}
	.shop-items__bay{padding: 0 10px 10px 15px;}
	.shop-items__price{font-size: 26px;line-height: 32px;padding:0px}
	.shop-items__bay a{padding: 0 20px}
	.shop-items__bay a svg{margin-left: 10px;}
}
@media(max-width:991px){
	.shop-items__block{width:50%}
	.shop-items__cover img{height: 209px;}
	.shop-items__title{font-size: 16px;line-height: 22px;padding: 20px 15px 25px;}
	.shop-items__price{font-size: 24px;line-height: 30px}
	.shop-items__bay a{padding: 0 15px;}
}
@media(max-width:767px){
	.shop-items__row{margin:-10px -8px}
	.shop-items__block{padding:10px 8px}
	.shop-items__cover img{height: 164px;}
	.shop-items__title{font-size: 15px;line-height: 20px;padding: 15px 10px 20px;}
	.shop-items__bay {padding: 0 10px 10px 10px}
	.shop-items__price{font-size: 22px;line-height: 28px;}
	.shop-items__bay a{padding: 0 10px;font-size: 13px;line-height: 36px;}
}
@media(max-width:575px){
	.shop-items__cover img{height: 30vw;}
	.shop-items__title{font-size: 14px;padding: 15px 10px;}
	.shop-items__price{font-size: 20px;line-height: 24px;}
}
@media(max-width:480px){
	.shop-items__block{width:100%}
	.shop-items__cover img{height: auto;}
	.shop-items__title{font-size: 16px;line-height: 22px; padding: 20px 15px 25px;}
	.shop-items__bay {padding: 0 10px 10px 15px}
	.shop-items__price{font-size: 22px;line-height: 26px;}
}
/*** Читайте также ***/
.last-articles__bottom .last-articles__row{margin: -10px -8px 0;}
.last-articles__bottom .last-articles__block{width:25%}
.last-articles__bottom .last-articles__block .last-articles__title{font-family: 'Inter', sans-serif}
.last-articles__bottom .last-articles__block .last-articles__cover{margin-bottom: 15px}
.last-articles__bottom .last-articles__block .last-articles__title{padding:15px 0}
.article-mother .article-mark{background:#E0C98C;}
.article-mother .article-mark:hover{background:#E3CE97;}
.article-mother .article-mark:focus, .article-mother .article-mark:active{background:#D5BF85;}
.article-beauty .article-mark{background:#ED9B6E}
.article-beauty .article-mark:hover{background:#EFA57C}
.article-beauty .article-mark:focus, .article-beauty .article-mark:active{background:#E19368}
.article-health .article-mark{background:#4DAB8F}
.article-health .article-mark:hover{background:#4DAB8F}
.article-health .article-mark:focus, .article-health .article-mark:active{background:#4DAB8F}
@media(min-width:992px){
	.last-articles__bottom .last-articles__block:last-child{display:none}
}
@media(min-width:1360px){
	.last-articles__bottom .last-articles__block:last-child{display:block}
}
@media(max-width:1359px){
	.last-articles__bottom .last-articles__row{margin: -10px -8px 0;}
	.last-articles__bottom .last-articles__block{width:33.33%}
	.last-articles__bottom .last-articles__block .last-articles__cover{margin-bottom: 15px}
	.last-articles__bottom .last-articles__block .last-articles__title{padding:15px 0}
}
@media(max-width:991px){
	.last-articles__bottom .last-articles__block{width: 50%}
}
@media(max-width:767px){
	.last-articles__bottom .last-articles__row{margin:-10px -8px 0}
	.last-articles__bottom .last-articles__block{padding:10px 8px}
	.last-articles__bottom .last-articles__cover{height:180px}
	.last-articles__bottom .last-articles__title{font-size:16px; line-height:20px; padding:10px 0}
	.last-articles__bottom .last-articles__date{font-size:13px}
}
@media(max-width:575px){
	.last-articles__bottom .last-articles__cover{height: 33vw}
}
@media(max-width:480px){
	.last-articles__bottom .last-articles__block {width: 100%; padding:15px 8px}
	.last-articles__bottom .last-articles__cover{height: 66vw}
}
/*** Навигация в мобиле (если убрать будет навигация с городом и телефоном) ***/
@media(min-width:376px){
	.header__navigation .header__logo{display:none}
}
@media(max-width:375px){
	.header__navigation{background: #FFFFFF; box-shadow: 0px 4px 8px rgba(41, 42, 49, 0.08); margin-bottom:10px}
	.navigation__row{height:60px}
	.cityset, .header, .autorization span{display:none}
	.autorization{padding:0; order:3; margin:0 !important}
	.autorization svg{width:18px; height:20px; margin:0 !important}
	.navigation__mob-btn{padding:0}
	.header__navigation .header__logo{order:2; margin:0 auto}
	.header__navigation .header__logo img{max-width:100px}
	nav.menu {left: -15px;right: -15px;border-radius: 0 0 8px 8px;transform: translateY(0px);box-shadow: 0 15px 10px 4px rgb(48 57 67 / 8%);}
	nav.menu a{font-size: 16px; text-align: center}
	nav.menu a:first-child{padding: 5px 0}
}