body {
	--normal:#E0C98C; /* Normal */
	--light:#E3CE97; /* Light */
	--dark:#D5BF85; /* Dark */
	--subscrible:#F9F1F1; /* Subscrible */
	--letter: url(../img/letter-mother.png) no-repeat 0 0 / contain; /* Letter */
	--titlefont:'Alice', serif; /* Title font */
	--logocat:27px; /* Logocat font */
	--blockquotebg:#F9F1F1;  /* Blockquote background */
	--blockquotecolor:#414E5C; /* Blockquote text color */
}